page-start {

    .start-label-content{
        font-family: Monserrat;
        font-size: 19px;
        text-align: center;
        color: orange;
    }

    .start-img-content{
        width: 70%;
        height: 100%;
    }

    .start-button-content{
        height: 75px;
        width: 100%;
    }

    .start-img-content{
        display: block;
        margin: auto;
    }

    .start-more-icon{
        width: 50%;
    }

}
