page-login {

    .div-content{
        margin-top: 30%;
    }

    .button-div-content{
        margin-top: 25%;
    }
    .centrar{
        text-align: center !important;
    }

    .lg-label{
        text-align: left;
    }
}
