page-login {
    .div-content{
        margin-top: 20%;
    }
    .button-div-content{
        margin-top: 10%;
    }
    .login-account-message{
        text-align: center !important;
    }
    .lg-label{
        text-align: left;
    }
    .login-head-img{
        width: 60%;
        display: block;
        margin: auto;
    }
}
