page-login {

    .div-content{
        margin-top: 30%;
    }

    .button-div-content{
        margin-top: 25%;
    }
    .centrar-label{
        text-align: center;
    }

    .label{
        text-align: right;
    }
}
