page-sign-off {

    .SO-content{
        padding: 0px !important;
}

.SO-div-Content{
    margin-top: 20%;
    margin-bottom: 15%;
}

.SO-Label-Content{
    text-align: center;
    font-size: 18px;
    font-family: Monserrat;
}

.SO-button-content{
    margin-left: 4%;
    margin-right: 4%;
}

.SO-button-content2{
    margin-right: 4%;
}



.action-sheets-groups-page {
.action-sheet-md .action-sheet-title{
    background: red;
}



        .icon-edition {
            color: grey;
        }
        .icon-erase {
            color: grey;
        }
        .action-sheet-cancel ion-icon,
        .action-sheet-destructive {
            color: grey;
        }
    }


}
