<ion-header>
    <div class="img-Contenedor">
        <img src="assets/img/accreditation/images/fondo.png">
        <div class="img-texto-encima">
            <ion-avatar item-start>
                <img src="assets/img/marty-avatar.png" class="circle-pic">
            </ion-avatar>
        </div>
        <div class="img-texto-centrado">
            <ion-label>Felipe Dos Santos</ion-label>
            <ion-label>fepeDos</ion-label>
        </div>
    </div>
</ion-header>

<ion-content>
    <div class="">
    </div>

    <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon"></ion-icon>
            {{p.title}}
        </button>
    </ion-list>
</ion-content>