page-welcome {
        .welcome-accreditation-logo{
                width: 100%;
                margin-bottom: 20%;
                padding: 0px !important;
        }

        .content{
                padding: 0px !important;
        }

        .row-pading{
                padding: 5% !important;
        }

        .title-text{
                font-size: 18px;
                margin-bottom: 10%;
        }
}
