page-questions {

    .q-content-row{
        margin-bottom: 5%;
    }

 

    .q-content-card{
        background-color: orange;
        width: 93%;
        height: 100%;
    }

    .q-content-div{
        margin-bottom: 8%;
    }

}
